.container {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    min-height: 45vh;
    // margin-bottom: 20px;
}

.labelError{
    font-weight: 600;
    color: #CF2030;
    font-size: 14px;
}

.form {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.label {
    font-weight: 600;
    // max-width: 300px;
}

.provisional {
    color: #CF2030;
    line-height: auto;
}

.formNote {
    min-height: 170px;
    text-align: start;
    // min-width: 600px;
    // border: 1px gray solid;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.bri {
    margin: 10px 0;
    border-bottom: 1px solid rgb(225, 221, 221);
}

.output {
    border: 2px solid #CF2030;
    padding: 0 30px;
    margin-top: 20px;
}

.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    // color: #CF2030;
    padding-bottom: 5px;
    padding-top: 5px;
}

.button {
    margin: 50px 120px;
    background-color: #CF2030 !important;
    border: none !important;
    height: 40px;
    &:hover {
        opacity: 0.9;
    }
}

.link {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin: 0 20px;
        flex-direction: column;
        font-size: small;
    }
    .formNote {
        min-height: 100px;
    }
    .button {
        margin: 50px 20px;
    }
    .formInput{
        width: 100%;
        margin-top: 10px;
        border: 1px solid red;
        padding: 15px;
    }
    .form_child_1{
        flex-direction: column;
    }
    .boxPhone{
        margin-top: 10px;
    }
    .formInputName{
        width: 100%;
        padding: 7px 10px;
    }
    .outputName{
        padding-right: 10px;
    }
    .complete{
        margin: 10px 20px;
    }
    .font_small{
        font-size: small;
    }
    .title_com{
        font-size: 20px;
    }
}