.container {
    margin: 20px 200px;
    display: flex;
    justify-content: space-between;
    min-height: 45vh;
    // margin-bottom: 20px;
}

.labelError{
    font-weight: 600;
    color: #CF2030;
    font-size: 14px;
}

.form {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.label {
    font-weight: 600;
    // max-width: 300px;
}

.provisional {
    color: #CF2030;
    line-height: auto;
}

.formNote {
    min-height: 170px;
    text-align: start;
    // min-width: 600px;
    // border: 1px gray solid;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.bri {
    margin: 10px 0;
    border-bottom: 1px solid rgb(225, 221, 221);
}

.output {
    border: 2px solid #CF2030;
    padding: 0 30px;
    margin-top: 20px;
}

.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    // color: #CF2030;
    padding-bottom: 5px;
    padding-top: 5px;
}

.button {
    margin: 50px 120px;
    background-color: #CF2030 !important;
    border: none !important;
    height: 40px;
    &:hover {
        opacity: 0.9;
    }
}

.link {
    text-decoration: none;
    color: white;
    &:hover {
        color: white;
    }
}