@keyframes zoomAnimation {
    0% {
        scale: 1.2;
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}

.zoom {
    animation: zoomAnimation 1s infinite;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.nav_mobile{
    animation: slideIn 0.5s ease-in-out;
}

@media screen and (max-width: 560px) {
    .input{
        display: none;
    }
    .contact{
        display: none;
    }
    .input_res{
        margin: 7px 20px;
        font-size: small;
    }
    .nav{
        display: none;
    }
    .logo_login{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 10px 7%;
    }
    .logo{
        margin-bottom: 10px;
    }
    .name{
        font-size: 20px;
    }
}

@media screen and (min-width: 500px) {
    .nav_mobile{
        display: none;
    }
}