.banner {
    height: 435px;
    border-radius: 10px;
    border-top: none;
    margin-left: 50px;
    // min-width: 1000px;
    width: 77%;
    
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 10px;
    background-position: center;
}

@media screen and (max-width: 1200px) {
    .banner {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        width: 100%;
        margin-left: 0;
    }
}