
.container {
    border-top: 1px solid gray;
    margin: 0 142px 30px 130px;
    // min-width: 1200px;
    position: relative;
}

.slider {
    height: 500px;
}

.showProduct{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0 45px 30px 45px;
    }
    .showProduct{
        margin: 0 30px 0 30px;
    }
}