.listGroup {
    padding: 0;
    border-top: none;
    border-bottom: none;
}

.listGroupItem {
    border-bottom: 0.5px solid rgb(229, 223, 223);
    padding: 5px 15px;
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
    list-style: circle;
    list-style-position: inside;
}

.item {
    color: #000000;
    text-decoration: none;
    &:hover{
        color: blue;
    }
}

@media screen and (max-width: 1200px) {
    .listGroup{
        position: absolute;
        top: 27%;
        background-color: #000099;
        color: #fff;
        display: none;
    }

    .item {
        color: #fff;
    }
}