.flex {
    display: flex;
}

.contact {
    background-color: #000099;
    height: 35px;
}

.nav {
    margin: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* width: 25%; */
    padding-left: 20px;

}

.formSearch {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formSearchInput {
    padding-left: 10px;
    border: 1px solid rgb(139, 136, 136);
    height: 30px;
    width: 50%;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
}

.listSearch{
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
}

.linkSearch{
    text-decoration: none;
    color: #000099;
    font-weight: 600;
    padding: 10px 7px;
    cursor: pointer;
    &:hover{
        color: rgb(243, 27, 27);
    }
}

.img{
    width: 50px;
    height: 40px;
}

.itemSearch{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.box{
    display: flex;
    align-items: center;
}

.price{
    color: #000099;
    font-size: 13px;
    font-weight: 700;
    padding-left: 7px;
    cursor: default;
}

.outputSearch {
    position: absolute;
    top: 17%;
    left: 40%;
    right: 0;
    width: 30%;
    background-color: #fff;
    border: 1px solid #7286D3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    z-index: 1;
}

.iconSearch {
    cursor: pointer;
    font-size: 18px;
    // margin-top: 19px;
    background-color: #000099;
    border-radius: 50%;
    color: aliceblue;
    padding: 5px;
}

.boxAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 20px;
    min-width: 135px;
    position: relative;
}

.account {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #000099;
    cursor: pointer;
}

.accountMenu {
    position: absolute;
    top: 55px;
    right: 0;
    min-width: 135px;
    width: fit-content;
    background-color: #fff;
    border: 1px solid #7286D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    z-index: 1;
}

.accountMenuItem {
    text-decoration: none;
    color: #000099;
    padding: 10px 7px;
    cursor: pointer;

    &:hover {
        background-color: #8EA7E9;
        color: #FFF2F2;
    }
}

.accountName {
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
    // padding: 10px 0;
    color: #301E67;
    font-weight: 700;
    cursor: pointer;
}

.brick {
    background-color: #000099;
    height: 2px;
}

.boxBtnLogin {
    display: flex;
    justify-content: space-around;
    min-width: 150px;
}

.btnLogin, .btnRegister {
    // background-color: #000099;
    // color: aliceblue;
    background-color: #FFFFFF;
    color: #000099;
    text-decoration: none;
    margin: 0 5px;
    padding: 7px;
    border-radius: 10px;
    border: none;

    &:hover {
        background-color: #000099;
        color: #FFF2F2;
    }
}

.btnRegister {
    
    color: #000099;
}

.navMenu {
    height: 30px;
    background-color: #000099;
    display: flex;
}

.listMenu {
    display: flex;
    width: 100%;
    height: 100%;   
    justify-content: center;
    margin: 0;
}

.icon {
    padding-right: 10px;
    color: #fff;
}

.li {
    list-style: none;
    // line-height: 25px;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

.menuItem {
    text-decoration: none;
    cursor: default;
    color: #fff;
}

.dropDownCategory {
    display: inline-block;
    color: white;
    cursor: default;
    position: relative;
}